<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- VACATION-SEARCH -->
<div class="tw-flex tw-h-full">
  <div class="main tw-flex tw-flex-col tw-flex-1 tw-min-h-full" [ngClass]="{'w-detail': showDetail}">
    <!-- TOOLBAR -->
    <div class="toolbar">
      <!-- info -->
      <div class="header">
        <div class="content tw-flex tw-justify-start tw-items-center tw-gap-4 tw-w-full">
          <!-- Ou selector -->
          @if (organizationalUnits?.length > 1) {
            <hl-ou-select
              [ous]="organizationalUnits"
              [selectedOu]="selectedOrganizationalUnit"
              (ouChange)="onOuChange($event)">
            </hl-ou-select>
          }
          <!-- app selector -->
          @if (views?.length < 2) {
            <div class="module-title tw-flex tw-justify-start tw-items-center">
              <div class="info tw-flex tw-justify-start tw-items-center tw-gap-4">
                <mat-icon class="fa-lg" fontSet="far" fontIcon="fa-calendar-alt">
                </mat-icon>
                <div class="tw-flex tw-flex-col">
                  <h3>{{selectedView.key}}</h3>
                  @if (organizationalUnits?.length === 1) {
                    <h5>{{ selectedOrganizationalUnit?.name }}</h5>
                  }
                  @if (organizationalUnits?.length > 1) {
                    <h5>Gestión de Tiempos</h5>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </div>

      <!-- Search -->
      <div class="search-container">
        <div class="search tw-flex tw-justify-start tw-items-center tw-w-full !tw-max-w-none">
          <div class="content tw-flex tw-justify-start tw-items-center tw-gap-4 tw-w-full">
            <mat-icon class="fa" fontSet="fal" fontIcon="fa-search">
            </mat-icon>
            <input id="employeeFind_searchField" type="search" [(ngModel)]="filterName" placeholder="Buscar Empleados"
              (keydown.enter)="filteredSearch()" />
            @if (!showDetail()) {
              <button
                mat-button
                color="primary"
                [matMenuTriggerFor]="advancedSearchMenu"
                class="tw-whitespace-nowrap"
                [disabled]="!selectedOrganizationalUnit"
                #menuTrigger="matMenuTrigger"
              >
                <mat-icon class="fa-lg" fontSet="fa" fontIcon="fa-caret-down"></mat-icon>
                Búsqueda Avanzada
              </button>
            }
            @if (showDetail()) {
              <button id="employeeFind_advancedSearchBtn" matIconButton color="primary"
                [matMenuTriggerFor]="advancedSearchMenu" #menuTrigger="matMenuTrigger" title="Búsqueda Avanzada"
                [disabled]="!selectedOrganizationalUnit">
                <mat-icon class="fa-lg" fontSet="fa" fontIcon="fa-caret-down"></mat-icon>
              </button>
            }
            @if (!showDetail()) {
              <button [disabled]="loading" matIconButton title="Ver Guía de Búsqueda" [matMenuTriggerFor]="menuHelp">
                <mat-icon class="fa-lg" fontSet="fa" fontIcon="fa-question-circle"></mat-icon>
              </button>
            }
          </div>
        </div>
      </div>
    </div>

    <!-- helper -->
    <div class="helper !tw-p-0">
      <!-- info section: refresh & counter -->
      <div class="helper-info tw-flex tw-gap-4 tw-items-center">
        <!-- ACTUALIZAR -->
        <button matIconButton (click)='search(true)' title="Actualizar Listado" [disabled]="loading">
          <mat-icon class="fa-lg" fontSet="fa" fontIcon="fa-redo"></mat-icon>
        </button>
        @if (loading) {
          <h4>Cargando...</h4>
        } @else {
        <h4 name="lbl_TotEmpleadosBusqueda">
          {{itemsCount >= 2 ? itemsCount + ' Solicitudes encontradas': (itemsCount === 0 ? 'Sin solicitudes': '1 Solicitud encontrada')}}
        </h4>
        }
      </div>
      <!-- actions section -->
      <div class="helper-actions tw-flex tw-items-center tw-gap-2">
        <!-- BULK-APPROVE-LEAVE REQUEST -->
        @if (showApproveLeaves) {
          @if (showDetail() || useSmallIcon()) {
            <button matIconButton color="primary"
              title="Aprobar Solicitudes Seleccionadas" [disabled]="loading" (click)="ApproveLeaveRequests()">
              <mat-icon class="fa-solid" fontSet="fas" fontIcon="fa-thumbs-up"></mat-icon>
            </button>
          } @else {
            <button matButton="outlined" (click)="ApproveLeaveRequests()"
              color="primary" [disabled]="loading">
              <mat-icon class="fa-solid" fontSet="fas" fontIcon="fa-thumbs-up"></mat-icon>
              Aprobar Solicitudes Seleccionadas
            </button>
          }
        }
        <!-- BULK-EXPORT-LIST -->
        @if (showDetail() || useSmallIcon()) {
          <button matIconButton (click)="exportAll()"
            title="Exportar Listado a Excel" [disabled]="loading || !leaves || leaves.length === 0">
            <div class="icon-complex -tw-m-3 tw-flex tw-justify-center tw-items-center">
              <mat-icon class="fa-lg" fontSet="fas" fontIcon="fa-file-spreadsheet">
              </mat-icon>
              <mat-icon class="fa-lg complex" fontSet="fas" fontIcon="fa-download">
              </mat-icon>
            </div>
          </button>
        } @else {
          <button matButton="outlined" (click)="exportAll()" color="primary"
            [disabled]="loading || !leaves || leaves.length === 0">
            <mat-icon class="fa-lg" fontSet="fas" fontIcon="fa-file-spreadsheet">
            </mat-icon>
            Exportar Listado
          </button>
        }
        <!-- FILTER-TYPE -->
        <div class="filters-bar">
          <button
            matButton="outlined"
            color="primary"
            [disabled]="loading"
            (click)="selectLeaveType.open()"
            title="Filtrar por tipo de licencia"
          >
            <mat-icon class="fa-lg" fontSet="fas" fontIcon="fa-filter"></mat-icon>
            <mat-select
              #selectLeaveType
              (selectionChange)="filteredSearch()"
              [(ngModel)]="selectedLeaveType"
              [hideSingleSelectionIndicator]="true"
              panelWidth="220px"
              panelClass="filter-select-panel"
            >
              <mat-option *ngFor="let type of leavesTypeFilters" [value]="type.leaveTypeId">
                {{ type.description }}
              </mat-option>
            </mat-select>
          </button>
        </div>
        <!-- FILTER-STATE -->
        <div class="filters-bar">
          <button
            matButton="outlined"
            color="primary"
            [disabled]="loading"
            (click)="selectState.open()"
            title="Filtrar"
          >
            <mat-icon class="fa-lg" fontSet="fas" fontIcon="fa-filter"></mat-icon>
            <mat-select
              #selectState
              (selectionChange)="filteredSearch()"
              [(ngModel)]="selectedLeaveStateFind"
              [hideSingleSelectionIndicator]="true"
              panelWidth="220px"
              panelClass="filter-select-panel"
            >
              <mat-option *ngFor="let state of statesFilters" [value]="state.key">
                {{state?.value}}
              </mat-option>
            </mat-select>
          </button>
        </div>
      </div>
      <!-- pagination section -->
      <app-cs-paginator
        class="helper-pagination"
        [hidden]="!leaves || leaves?.length == 0"
        [pageCount]="itemsCount"
        [(pageIndex)]="pageIndex"
        (pageChanged)="selectedPageChanged($event)"
      >
      </app-cs-paginator>
      @if (loading) {
        <mat-progress-bar
          mode="indeterminate"
          class="tw-absolute tw-left-0 tw-bottom-[-4px] tw-z-[199]"
        ></mat-progress-bar>
      }
    </div>
    <!-- LOADER -->
    @if (loading && (!leaves || !leaves.length)) {
      <div class="load-window new">
        <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
      </div>
    }
    <!-- Empty (app chapa) -->
    @if(!loading && (!leaves || leaves.length === 0)) {
      <app-chapa
        [className]="'info-empty'"
        [icon]="'fa-meh'"
        [text]="'¡Ups! No hay solicitudes de licencias aquí...'"
        [subText]="organizationalUnits?.length > 1 ? 'Intenta hacer otra Búsqueda o prueba con otra Empresa' : 'Intenta hacer otra Búsqueda'">
      </app-chapa>
    }

    <!-- LEAVE-SEARCH-TABLE -->
    <div class="new-table" [hidden]="!leaves || !leaves?.length">
      <div class="mat-table">
        <!-- LEAVE-SEARCH-TABLE_HEAD -->
        <div class="mat-header-row sticky tw-flex tw-justify-start tw-items-center">
          <div class="mat-header-cell w-1 tw-flex tw-justify-start">
            @if (this.selectedLeaveStateFind === 1 && showMassiveApproveCheck) {
              <mat-checkbox [(ngModel)]="allSelected" (ngModelChange)="selectAllToogle()"></mat-checkbox>
            }
          </div>
          <div class="w-12 multiple-selection dynamic-table tw-flex tw-justify-start tw-items-center">
            <div class="mat-header-cell w-1-5 tw-flex tw-justify-start tw-items-center">
              <span>Estado</span>
            </div>
            <div class="mat-header-cell w-2 tw-flex tw-justify-start tw-items-center">
              <span>Tipo</span>
            </div>
            <div class="mat-header-cell w-2 tw-flex tw-justify-start tw-items-center">
              <span>Solicitante</span>
            </div>
            <div class="mat-header-cell w-2 tw-flex tw-justify-start tw-items-center">
              <span>Id Fiscal</span>
            </div>
            <div class="mat-header-cell w-2 tw-flex tw-justify-start tw-items-center">
              <span>Fecha Creación</span>
            </div>
            <div class="mat-header-cell w-1-5 tw-flex tw-justify-center">
              <span>Duración</span>
            </div>
          </div>
        </div>

        <!-- LEAVE-SEARCH-TABLE-ROWS -->
        <div [id]="'leaveRequestListRow'+i" class="mat-row tw-flex tw-justify-start tw-items-center" matRipple *ngFor="let leave of leaves; let i= index"
          [ngClass]="{'active': leave == selectedLeaveRequest, 'selected': leave.selected}">
          <div class="mat-header-cell w-0-8 tw-flex tw-justify-start">
            @if (this.selectedLeaveStateFind == 1 && isLeaveApprovedByValidator(leave)) {
              <mat-checkbox [(ngModel)]="leave.selected" (ngModelChange)="selectedChange()">
              </mat-checkbox>
            }
          </div>
          <div class="w-12 w-sticky tw-flex tw-justify-start tw-items-center" (click)="selectLeaveRequest(leave)">
            <div class="mat-cell w-1-5 status-cell tw-flex tw-justify-start tw-items-center tw-gap-3"
              [title]="leave.stateName">
              @if (shouldShowCheck(workflowApproveType?.id, leave.stateId, leave.actionApprovers)) {
                <mat-icon class="fa-lg" fontSet="fas" [fontIcon]=getLeaveValidationIcon(leave)
                  [ngClass]=getLeaveValidationClass(leave)>
                </mat-icon>
              } @else {
                <mat-icon></mat-icon>
              }
              @if (
                leave.actionApprovers.length === 0 &&
                leave.stateId != '0' &&
                shouldShowCheck(workflowApproveType?.id, leave.stateId, leave.actionApprovers)
              ) {
                <mat-icon></mat-icon>
              }
              <mat-icon class="fa-lg" fontSet="fas" [fontIcon]=getLeaveStatusIcon(leave)
                [ngClass]=getLeaveStatusClass(leave)>
              </mat-icon>
              <span>{{getLeaveStatusName(leave)}}</span>
            </div>
            <div class="mat-cell w-2 tw-flex tw-justify-start tw-items-center tw-gap-3"
              [title]="getLeaveTypeName(leave)">
              <mat-icon class="fa-lg" fontSet="fas" [fontIcon]=getLeaveTypeIcon(leave)></mat-icon>
              <span>{{getLeaveTypeName(leave)}}</span>
            </div>
            <div class="mat-cell w-2 tw-flex tw-justify-start tw-items-center tw-gap-3"
              [title]="leave.userName">
              <span>{{leave.userName}}</span>
            </div>
            <div class="mat-cell w-2 tw-flex tw-justify-start tw-items-center tw-gap-3"
              [title]="leave.userIdFiscal">
              <span>{{leave.userIdFiscal | mask: idFiscalMask }}</span>
            </div>
            <div class="mat-cell w-2 tw-flex tw-justify-start tw-items-center tw-gap-3"
              [title]="leave.requestDate | date: 'full'">
              <span>{{leave.requestDate | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="mat-cell w-2 tw-flex tw-justify-start tw-items-center tw-gap-3" title="Duración">
              <span>
                @if(leave.startDate != leave.endDate) {
                  @let startDate = leave?.startDate | date: 'dd/MM/yyyy';
                  @let endDate = leave?.endDate | date: 'dd/MM/yyyy';
                  <!-- \u00A0; prevents line break between number and "días" -->
                  {{ startDate + ' a ' + endDate + ' (' + leave.daysConsumed + '\u00A0días)' }}
                }
              </span>
            </div>
          </div>

          <div class="mat-cell sticky-actions tw-flex tw-justify-start tw-items-center tw-gap-4">
            @if(leave.documentId) {
              <button id="btn_Ver" name="btn_Ver" matIconButton title="Ver" (click)="viewDocument(leave)">
                <mat-icon class="fa-lg" fontSet="fas" fontIcon="fa-eye"></mat-icon>
              </button>
            }

            @if(canReject(leave) && leave.stateId != '4' && isLeaveApprovedByValidator(leave)) {
              <button class="not-ok" name="btn_RechazarSolicitud" matIconButton
              title="Rechazar Solicitud" (click)="approveReject(false, leave)">
              <mat-icon class="fa-solid" fontSet="fas" fontIcon="fa-thumbs-down"></mat-icon>
              </button>
            }
            @if(leave.stateId == '1' && isLeaveApprovedByValidator(leave)) {
              <button class="ok" name="btn_AprobarSolicitud" matIconButton
              title="Aceptar Solicitud" (click)="approveReject(true, leave)">
              <mat-icon class="fa-solid" fontSet="fas" fontIcon="fa-thumbs-up"></mat-icon>
              </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- DETAILS -->
  @if(selectedLeaveRequest != null && selectedLeaveRequest != undefined) {
    <div class="new-detail-container tw-flex tw-flex-col">
      <!-- APP LEAVE-DETAILS-->
      @if(loadingDetail) {
        <div class="tw-h-full tw-flex tw-justify-center tw-items-center tw-bg-[var(--mf-bg-card-elevated)] tw-z-0">
          <mat-progress-spinner mode="indeterminate" color="primary">
          </mat-progress-spinner>
        </div>
      }
      <app-leave-request-detail
        [ngClass]="{ 'tw-hidden': loadingDetail }"
        (detailClose)="toggleLeaveDetail()"
        (detailloading)="hidedetailLoading()"
        (refreshGrid)="search()"
        [selectedLeaveRequest]="selectedLeaveRequest"
      ></app-leave-request-detail>
    </div>
  }
</div>

<!-- APP SEARCH MENU -->
<mat-menu #advancedSearchMenu="matMenu" xPosition="before" yPosition="below" class="menu-options mat-card tw-max-w-none">
  <div class="container tw-flex tw-flex-col tw-justify-start tw-items-stretch" (click)="$event.stopPropagation()">
    <div class="title tw-flex tw-justify-start tw-items-center tw-gap-4">
      <div class="icon-complex tw-flex tw-justify-center tw-items-center">
        <mat-icon class="fa-lg" fontSet="fas" fontIcon="fa-cog">
        </mat-icon>
        <mat-icon class="fa-lg complex" fontSet="fas" fontIcon="fa-search">
        </mat-icon>
      </div>
      <h4>Búqueda Avanzada</h4>
    </div>
    <div class="mat-form-field-wrapper">
      <form [formGroup]="filterDateFormLeave" class="tw-flex tw-flex-col tw-justify-center tw-items-start tw-gap-4">
        <div class="title tw-flex tw-justify-start tw-items-center tw-gap-4" style="padding-left: 40px !important; padding-top: 10px !important;">
          <h4>Tipo de Licencias</h4>
        </div>
        <mat-form-field class="new_leave_modal-field tw-w-full" appearance="fill">
          <mat-select placeholder="Sin seleccionar" formControlName="selectLeaveType" [(ngModel)]="selectedLeaveSearchAdvancedTypeFind"  [hideSingleSelectionIndicator]="true">
            <mat-option *ngFor="let type of leavesTypeFilters" [value]="type.leaveTypeId">
              {{ type.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="title tw-flex tw-justify-start tw-items-center tw-gap-4" style="padding-left: 40px !important;">
          <h4>Estado</h4>
        </div>
        <mat-form-field class="new_leave_modal-field tw-w-full" appearance="fill">
          <mat-select placeholder="Sin seleccionar" formControlName="selectState" [(ngModel)]="selectedLeaveSearchAdvancedStateFind" (selectionChange)="onStateSelected($event.value)" [hideSingleSelectionIndicator]="true">
            <mat-option *ngFor="let state of statesFilters" [value]="state.key">
              {{ state.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        @if(selectedLeaveStateFind !== 0 && workflowApproveType?.id == 1) {
          <mat-form-field class="new_leave_modal-field tw-w-full" appearance="fill">
            <mat-select placeholder="Sin seleccionar" formControlName="selectApproverAccion" [(ngModel)]="selectApproverAccion" [hideSingleSelectionIndicator]="true">
              <mat-option *ngFor="let accion of approversOptions" [value]="accion.value">
                {{ accion.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        }
        <div class="title tw-flex tw-justify-start tw-items-center tw-gap-4">
          <div class="icon-complex tw-flex tw-justify-center tw-items-center">
            <mat-icon class="fa-lg" fontSet="fas" fontIcon="fa-filter">
            </mat-icon>
            <mat-icon class="fa-lg complex" fontSet="fas" fontIcon="fa-calendar">
            </mat-icon>
          </div>
          <div>
            <h4>Fecha inicio de Vacación</h4>
            <p class="filter_range">Ingresa la fecha desde/hasta</p>
          </div>
        </div>
        <mat-form-field class="new_leave_modal-field tw-w-full" appearance="fill">
          <mat-label>Fecha Desde</mat-label>
          <input readonly matInput [min]="MinFromStart" [max]="MaxFromStart" [matDatepicker]="dateFromStart"
            formControlName="FromDateStart" (dateChange)="setDateEndStart($event)">
          <mat-datepicker-toggle matIconSuffix [for]="dateFromStart">
            <mat-datepicker #dateFromStart></mat-datepicker>
          </mat-datepicker-toggle>
        </mat-form-field>
        <mat-form-field class="new_leave_modal-field tw-w-full" appearance="fill">
          <mat-label>Fecha Hasta</mat-label>
          <input readonly matInput [min]="MinUntilStart" [max]="MaxUntilStart" [matDatepicker]="dateUntilStart"
            formControlName="UntilDateStart">
          <mat-datepicker-toggle matIconSuffix [for]="dateUntilStart">
            <mat-datepicker #dateUntilStart></mat-datepicker>
          </mat-datepicker-toggle>
        </mat-form-field>
        <div class="title tw-flex tw-justify-start tw-items-center tw-gap-4" style="padding-left: 40px !important;">
          <div>
            <h4>Fecha creación</h4>
            <p class="filter_range">Ingresa la fecha desde/hasta</p>
          </div>
        </div>
        <mat-form-field class="new_leave_modal-field tw-w-full" appearance="fill">
          <mat-label>Fecha Desde</mat-label>
          <input readonly matInput [min]="MinFromCreate" [max]="MaxFromCreate" [matDatepicker]="dateFromCreate"
            formControlName="FromDateCreate" (dateChange)="setDateEndCreate($event)">
          <mat-datepicker-toggle matIconSuffix [for]="dateFromCreate">
            <mat-datepicker #dateFromCreate></mat-datepicker>
          </mat-datepicker-toggle>
        </mat-form-field>
        <mat-form-field class="new_leave_modal-field tw-w-full" appearance="fill">
          <mat-label>Fecha Hasta</mat-label>
          <input readonly matInput [min]="MinUntilCreate" [max]="MaxUntilCreate" [matDatepicker]="dateUntilCreate"
            formControlName="UntilDateCreate">
          <mat-datepicker-toggle matIconSuffix [for]="dateUntilCreate">
            <mat-datepicker #dateUntilCreate></mat-datepicker>
          </mat-datepicker-toggle>
        </mat-form-field>
      </form>
      @if(workflowApproveType?.id != 2) {
        <div>
          <h4 style="padding-left: 40px;"><strong>Aprobador de Equipo</strong></h4>
          <app-autocomplete-chip appearance="fill"
            class="tw-w-full tw-flex tw-flex-col tw-items-start"
            [originalList]="filterApprovers"
            [placeHolderText]="placeHolder"
            (OnActiveList)= "filterApprovers"
            (OnItemSelected)="selectApprover($event)"
            (OnRemoveItem)="removeApprover($event)"
            [selectedItemsList]="selectedApprovers"
            [listView]="true"
          ></app-autocomplete-chip>
        </div>
      }
      <div class="new_leave_modal-actions tw-flex tw-flex-row-reverse tw-justify-start tw-items-center tw-gap-3 tw-flex-1">
        <button mat-raised-button color="primary" (click)="filteredAdvancedSearch()"
          [disabled]="findButtonEnable()">Buscar</button>
        <button mat-button (click)="closeFindAdvanced()">Cerrar </button>
      </div>
      <div class="new_leave_modal-actions tw-flex tw-justify-start tw-items-center tw-gap-3 tw-flex-1">
        <button mat-raised-button color="primary" (click)="resetDateForm()">Limpiar filtros</button>
      </div>
    </div>
  </div>
</mat-menu>
<!-- Guia de Busqueda de Licencias -->
<mat-menu #menuHelp="matMenu" yPosition="below" class="menu-options help mat-card p-0">
  <div class="title tw-flex tw-justify-between tw-items-center tw-w-full">
    <span class="tw-flex tw-flex-col">
      <h6 class="tw-text-xs tw-font-light">Guía y Ejemplos de Uso</h6>
      <h4 class="primary tw-font-bold">Cómo funciona la búsqueda: Buscar Solicitudes</h4>
    </span>
    <button matIconButton title="Ocultar Guía">
      <mat-icon class="fa-lg" fontSet="fa" fontIcon="fa-times">
      </mat-icon>
    </button>
  </div>
  <div class="slide-group">
    <mat-accordion (click)="$event.stopPropagation()">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>Podés buscar por apellido y/o nombre de una persona</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="tw-mt-4 tw-mb-4 tw-pl-8 tw-list-disc">
          <li>
            <i>Si ingresas <b>José</b> encontrarás las solicitudes de las personas <b>con este apellido o
                nombre</b>.</i>
          </li>
          <li>
            <i>Si ingresas <b>José Ignacio Salinas</b> encontrarás las solicitudes de las personas cuyos <b>apellido
                y/o
                nombre
                contengan alguna de las palabras</b> ingresadas.</i>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>Podés buscar por número de legajo ingresando cifras de hasta 6 dígitos, o podés usar "L:" (sea
              mayúscula o minúscula) interpretará cualquier número que le siga como un Legajo.
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="tw-mt-4 tw-mb-4 tw-pl-8 tw-list-disc">
          <li>
            <i>Si ingresas <b>000001</b>, encontrarás las solicitudes de la persona<b> con este legajo</b>.</i>
          </li>
          <li>
            <i>Si ingresas <b>000001 000012</b>, encontrarás las solicitudes de las personas cuyos
              <b>legajos</b> se
              encuentren dentro
              <b>del rango ingresado</b>.</i>
          </li>
          <li>
            <i>Si ingresas <b>000001 000006 000012</b>, encontrarás las solicitudes de las personas
              con <b>cada uno de
                estos
                legajos</b>.</i>
          </li>
          <li>
            <i>Si ingresas <b>l:000001 000006 000012</b>, encontrarás las solicitudes de las personas <b>con cada
                uno de estos legajos</b>.</i>
          </li>
        </ul>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>Podés buscar por correo electrónico ingresando el dominio completo (persona&#64;organizacion.com).
            </h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4>Podés buscar por el Identificador Fiscal ingresando una cifra a partir de 7 dígitos.</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-menu>
