@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  mf-hl-root,
  .mf-hl-tailwind-scope {
    .tw-btn-outline-primary {
      @apply tw-bg-transparent tw-font-semibold tw-py-2 tw-px-4 tw-border tw-border-[var(--mf-color-primary)] tw-text-[var(--mf-color-primary)] tw-rounded;

      &:hover {
        @apply tw-bg-[var(--mf-color-primary)] tw-text-[var(--mf-color-contrast-primary)] tw-border-transparent;
      }
    }

    .tw-btn-primary {
      @apply tw-bg-[var(--mf-color-primary)] tw-text-[var(--mf-color-contrast-primary)] tw-font-semibold tw-py-2 tw-px-4 tw-rounded;

      &:hover {
        @apply tw-bg-[var(--mf-color-bg-primary)] tw-text-[var(--mf-color-primary)];
      }
    }

    .hl-btn-chip-primary {
      @apply tw-bg-[var(--mf-color-bg-primary)] tw-text-[var(--mf-color-primary)] tw-font-semibold tw-rounded-2xl tw-items-center;
    }

    .dialog-paper,
    &.dialog-paper {
      .mat-mdc-dialog-container {
        --mdc-dialog-container-color: transparent;
        --mdc-dialog-container-elevation: 0;
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
        overflow: visible !important;

        .mdc-dialog__surface {
          background: transparent !important;
          box-shadow: none !important;
          overflow: visible !important;
        }
      }

      mat-radio-button {
        .mdc-form-field {
          width: 100%;
          align-items: center;
        }

        .mdc-label {
          width: 100%;
        }
      }
    }

    .full-screen-dialog,
    &.full-screen-dialog {
      max-width: 100vw !important;
      width: 100vw !important;
      height: 100vh !important;

      .mat-mdc-dialog-container {
        max-width: 100vw !important;
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0 !important;
        padding: 0 !important;
      }
    }
  }
}
