<ng-container *transloco="let t; prefix: 'groupConfig'">
  <div class="tw-flex tw-flex-col tw-gap-6 tw-h-full tw-justify-start tw-max-h-screen">
    <div>
      <button mat-button color="primary" class="tw-font-bold" routerLink="../../">
        <i class="fa fa-chevron-left tw-mr-2" aria-hidden="true"></i>
        <span class="tw-text-lg"> {{ 'common.back' | transloco }} </span>
      </button>
    </div>

    @if (!isLoading()) {
      <div
        class="tw-flex tw-justify-between tw-bg-slate-50 dark:tw-bg-[rgb(80,80,80)] tw-border tw-border-gray-300 dark:tw-border-gray-600 tw-rounded-lg tw-py-4 tw-px-6 tw-gap-2"
      >
        <div class="tw-flex tw-flex-col tw-gap-2">
          <div class="tw-flex tw-gap-2 tw-items-center">
            <div
              class="tw-flex tw-font-bold tw-text-2xl tw-leading-7 tw-text-gray-900 dark:tw-text-white"
            >
              {{ group.value()?.name ?? '' }}
            </div>
            <div>
              <hl-info-chip [text]="groupStatus().text | transloco" [color]="groupStatus().color" />
            </div>
          </div>

          <div class="tw-flex tw-text-sm tw-gap-6 tw-text-gray-700 dark:tw-text-gray-300">
            <div>
              <span>{{ t('groupDetails.identifier') }} </span>
              <span class="tw-font-bold tw-text-gray-900 dark:tw-text-white">{{
                group.value()?.codeCct || '-'
              }}</span>
            </div>

            <div>
              <span>{{ t('groupDetails.description') }} </span>
              <span class="tw-font-bold tw-text-gray-900 dark:tw-text-white">{{
                group.value()?.description || '-'
              }}</span>
            </div>

            <div>
              <span>{{ t('groupDetails.employees') }} </span>
              <span class="tw-font-bold tw-text-gray-900 dark:tw-text-white"
                >{{ group.value()?.activeEmployees ?? 0 }}
              </span>
            </div>
          </div>
        </div>
        <div class="tw-flex tw-gap-2">
          <button matButton="filled" color="primary" class="hl-mat-button" (click)="onEditGroup()">
            <i class="fa fa-pencil tw-mr-2" aria-hidden="true"></i>
            <span> {{ t('groupDetails.editGroup') }} </span>
          </button>
        </div>
      </div>

      <div class="tw-flex-1 tw-min-h-0 tw-mb-4">
        <hl-group-employee-list
          [heading]="t('groupDetails.employeesListTitle')"
          [showSelection]="true"
          [showActions]="true"
          [groupId]="groupId()"
          (employeeAssigned)="group.reload()"
        ></hl-group-employee-list>
      </div>
    }

    @if (isLoading()) {
      <div class="tw-absolute tw-inset-0 tw-flex tw-justify-center tw-items-center">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</ng-container>
