:host ::ng-deep mat-basic-chip {
  margin: 0 16px;
  border-radius: 40px !important;
  height: auto !important;

  .mat-mdc-chip-action-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: pre-wrap;
  }
}
